@keyframes c {
    0% { opacity: 0; }
    20% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes x {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes q {
    0% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 1; }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes d {
    0% { opacity: 0; }
    60% { opacity: 0; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
body {
    margin: 0;
}
div {
    font-size: 20em;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
span {
    background-color: rgba(100,100,100,0.2);
    padding: 100px;
}
.c {
    background-color: lightgreen;
    animation: c 8s infinite;
}
.x {
    background-color: rgb(255,50,30);
    animation: x 8s infinite;
}
.q {
    background-color: gold;
    animation: q 8s infinite;
}
.d {
    background-color: black;
    color: white;
    animation: d 8s infinite;
}
